<link rel="import" href="../bower_components/polymer/polymer-element.html">
<dom-module id="task-button">
    <template>
        <style>
        </style>
        <button>Guardar</button>
    </template>
    <script>
        class TaskButton extends Polymer.Element {
      static get properties() {
        return {
          respuesta: {
            type: Object
          }
        }
      }

      static get is() {
        return 'task-button'
      }
    }
    customElements.define(TaskButton.is, TaskButton)
    </script>
</dom-module>