<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-if.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">
<dom-module id="task-list">
    <template>
        <style>
        </style>
    </template>
    <script>
        class TaskList extends Polymer.Element {
            get static () {
                return "task-list"
            }
        }
        customElements.define(TaskList.is, TaskList)
    </script>
</dom-module>