<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<dom-module id="task-filter">
    <template>
        <style>
        </style>
        <input label="Buscar Task" on-value-changed="_changeSearch">
            <iron-icon icon="search" slot="prefix"></iron-icon>
    </template>
    <script>
        class TaskFilter extends Polymer.Element {
            static get is () {
                return 'task-filter'
            }

            _changeSearch (event) {
                const searchValue = event.target.value
                const newEvent = new CustomEvent('search', { detail: { search: searchValue } })
                this.dispatchEvent(newEvent)
            
            }
        }
        customElements.define(TaskFilter.is, TaskFilter)
    </script>
</dom-module>