<link rel="import" href="../bower_components/polymer/polymer-element.html">
<dom-module id="task-label">
    <template>
        <style>
        </style>
        <input name="escribir"> 
    </template>
    <script>
        class TaskLabel extends Polymer.Element {
      static get properties() {
        return {
          name: String
        }
      }
      static get is() {
        return 'task-label'
      }
    }
    customElements.define(TaskLabel.is, TaskLabel)
    </script>
</dom-module>