<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="task-input.html">
<link rel="import" href="task-filter.html">
<dom-module id="task-app">
    <template>
        <style>
        </style>
        <div class="container">
            <task-input></task-input>
            <task-filter></task-filter>
        </div>
    </template>
    <script>
        class TaskApp extends Polymer.Element {
            static get is () {
                return 'task-app'
            }
            ready () {
                super.ready()
            }
        }
        customElements.define(TaskApp.is, TaskApp)
    </script>
</dom-module>