<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="task-label.html">
<link rel="import" href="task-button.html">
<dom-module id="task-input">
    <template>
        <style>
            :host{
                display: block;
            }
        </style>
        <div class="container">
            <task-label></task-label>
            <task-button></task-button>
        </div>
    </template>
    <script>
        class TaskInput extends Polymer.Element {
            static get properties () {
                return {
                    name: String
                }
            }
            static get is (){
                return 'task-input'
            }
        }
        customElements.define(TaskInput.is, TaskInput)
    </script>
</dom-module>